[submodule "tests/cli/bats"]
	path = tests/cli/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "tests/cli/test_helper/bats-support"]
	path = tests/cli/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/cli/test_helper/bats-assert"]
	path = tests/cli/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tests/cli/test_helper/bats-snapshot"]
	path = tests/cli/test_helper/bats-snapshot
	url = https://github.com/markkong318/bats-snapshot.git
[submodule "tests/cli/test_helper/bats-file"]
	path = tests/cli/test_helper/bats-file
	url = https://github.com/bats-core/bats-file.git
